<div class="calendar-header">
  <div class="to-last-month"><%= image_tag "triangle.png", :width => "50" %></div>
  <p class="month"><%= @today_date.year %>年<%= @today_date.month %>月</p>
  <div class="to-next-month"><%= image_tag "triangle-right.png", :width => "50" %></div>
</div>

<div class="calendar">
    <div class="wdays">
      <div class="wday-h">日</div>
      <div class="wday">月</div>
      <div class="wday">火</div>
      <div class="wday">水</div>
      <div class="wday">木</div>
      <div class="wday">金</div>
      <div class="wday-h">土</div> 
    </div> 
    <% @calendar.each_with_index do |day, i| %>
      <%# （div始） 横1列を取得するために日曜日がどうかを判断 %>
      <% if i % 7 == 0 %>
        <div class="week">
      <% end %>

        <%# 先月の日付かどうかを判断 %>
        <% if  i <= 5 && day.day >= 25 %>
          <%= render partial: "pre-day", locals: {day: day, i: i} %>
        <%# 来月の日付かどうかを判断 %>
        <% elsif i >= 29 && day.day <= 6 %>
            <%= render partial: "post-day", locals: {day: day, i: i} %>
        <%# 今月の日付かどうかを判断 %>
        <% else %>
            <%= render partial: "this-month-day", locals: {day: day, i: i} %>
        <% end %>

      <%# (div終) 横1列を取得するために土曜日かどうかを判断 %>
      <% if (i + 1) % 7 == 0 %>
        </div>
      <% end %>
    <% end %>  
</div>
