<div class="routine-form">
  <div class="field">
    <div class="routine-form-text">
      <%= f.label :menu, "トレーニング名" %>
    </div>
    <%= f.text_field :menu, class: "input-training" %>
  </div>

  <div class="field">
    <div class="routine-form-text">
      <%= f.label :workout_time_id, "ワークアウトタイム" %>
    </div>
    <%= f.collection_select(:workout_time_id, WorkoutTime.all, :id, :name, {}, {class:"select-box"}) %>
  </div>

  <div class="field">
    <div class="routine-form-text">
      <%= f.label :set_count_id, "セット数" %>
    </div>
    <%= f.collection_select(:set_count_id, SetCount.all, :id, :name, {}, {class:"select-box"}) %>
  </div>

  <div class="field">
    <div class="routine-form-text">
      <%= f.label :rest_id, "インターバル" %>
    </div>
    <%= f.collection_select(:rest_id, Rest.all, :id, :name, {}, {class:"select-box"}) %>
  </div>
</div>