<div class="field">
    <%= f.label :menu, "トレーニング名" %>
    <%= f.text_field :menu %>
</div>

<div class="field">
    <%= f.label :set_count_id, "セット数" %>
    <%= f.collection_select(:set_count_id, SetCount.all, :id, :name, {}, {class:"select-box"}) %>
</div>

<div class="field">
    <%= f.label :rest_id, "インターバル" %>
    <%= f.collection_select(:rest_id, Rest.all, :id, :name, {}, {class:"select-box"}) %>
</div>