<div class="routine-lists-wrap">
  <% if @routines.present? %>
    <h1 class="user-info-header">作成したルーティン</h1>

    <% @routines.each do |routine| %>
      <div class="routine-list">
        <p class="routine-name">
          <%= routine.name %><span class="detail">詳細▼</span>
          <%= link_to "編集", edit_routine_path(routine.id), class: "edit-routine" %>
          <% if current_user.id == routine.user_id %>
            <span class="like-display">
              いいね数
              <%= routine.likes.count %>
            </span>
          <% end %>
        </p>
        <div class="hidden routine-menu-lists">
          <div class="show-menu">
            <h2 class="show-menu-header">1つ目のメニュー</h2>
            <%= render "routines/menu_field", routine: routine %>
          </div>

          <% if routine.next_routines.present? %>
            <% routine.next_routines.each_with_index do |next_routine, i| %>
              <div class="show-menu">
                <h2 class="show-menu-header"><%= i + 2 %>つ目のメニュー</h2>
                <%= render "routines/menu_field", routine: next_routine %>
              </div>
            <% end %>
            <%= link_to "削除する", routine_path(routine.id), method: :delete, data: { confirm: "【確認】 ルーティンを削除してもよろしいですか？"}, class: "delete-routine" %>
          <% else %>
            <%= link_to "削除する", routine_path(routine.id), method: :delete, data: { confirm: "【確認】 ルーティンを削除してもよろしいですか？"}, class: "delete-routine" %>
          <% end %> 
        </div>
      </div>
    <% end %>

  <% else %>
    <h2 class="not-create-alert">作成したルーティンはありません</h2>
  <% end %>
</div>
