<%= render "shared/second-header" %>

<div class="confirm-routine-wrap">
  <%= form_with model: @routine, class:"confirm-form-wrap" ,local: true do |form|  %>
    <%# hiddenのinputでcreateアクションにデータを送る %>
    <div class="hidden">
      <div class="routine-name-wrap">
        <div class="routine-form-text">
          <%= form.label :name, "ルーティン名" %>
        </div>
      <%= form.text_field :name, class: "routine-name-input" %>
      </div>
      <%= form.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box"}) %>

      <%= render "form", f: form %>
      <%= form.fields_for :next_routines do |next_routine| %>
        <%= render "form", f: next_routine %>
      <% end %>
    </div>
    <%# ここまで  %>
    <h1 class="routine-form-header">ルーティンの確認</h1>

    <div class="routine-name-wrap">
      <div class="routine-form-text">
        ルーティン名
      </div>
      <p class="routine-name"><%= @routine.name %></p>
      <span class="confirm-content public-status"><%= @routine.status.name %></span>
    </div>

    <div class="confirm-routine">
      <div class="menu-header">
        <h2">1つ目のメニュー</h2>
      </div>
      <%= render "menu_field", routine: @routine %>
    </div>

    <% if @routine.next_routines.present? %>
      <% @routine.next_routines.each_with_index do |next_routine, i| %>
        <div class="confirm-routine">
          <div class="menu-header">
            <h2><%= i + 2 %>つ目のメニュー</h2>
          </div>
          <%= render "menu_field", routine: next_routine %>
        </div>
      <% end %>
    <% end %>

    <div class="action">
      <div class="back-btn-content">
        <%= form.submit "戻る", name: "back", class: "back-btn" %>
      </div>
      <div class="create-btn-content">
        <%= form.submit "作成", class: "create-btn" %>
      </div>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>