<%= render "shared/second-header" %>

<div class="edit-routine-wrap">

  <%= form_with model: @routine, class: "routine-form-wrap", local: true do |form|  %>
  
    <%= render 'shared/error_messages', model: form.object %>

    <h1 class="routine-form-header">ルーティン編集</h1>

    <div class="routine-name-wrap">
      <div class="routine-form-text">
        <%= form.label :name, "ルーティン名" %>
      </div>
      <%= form.text_field :name, class: "routine-name-input" %>
    </div>

    <% if current_user.id == @routine.user_id %>
      <div>
        <div class="routine-form-text">
          <%= form.label :status_id, "自分のルーティンを公開しますか？" %>
        </div>
        <%= form.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box"}) %>
      </div>
    <% end %>
    
      <%= render "form", f: form %>

    <div class="next-routine-form">
      <%= link_to_add_association "メニューを追加", form, :next_routines,
      data: { association_insertion_method: 'append' }, class: "add-nested-btn" %>
      <%= form.fields_for :next_routines do |next_routine| %>
        <%= render "next_routine_fields", f: next_routine %>
      <% end %>
    </div>
  
    <div class="action">
      <%= form.submit "編集", class: "update-btn" %>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>