<%= render "shared/second-header" %>

<div class="new-routine-wrap">

  <%= form_with model: @routine, url: confirm_routines_path, method: :get, class: "routine-form-wrap", local: true do |form|  %>
  
    <%= render 'shared/error_messages', model: form.object %>

    <h1 class="form-routine-header">ルーティン作成</h1>
    <div class="routine-form">
      <%= render "form", f: form %>
    </div>
    <div class="next-routine-form">
      <%= link_to_add_association "メニューを追加", form, :next_routines,
      data: { association_insertion_method: 'append' }, class: "add-nested-btn" %>
      <%= form.fields_for :next_routines do |next_routine| %>
        <%= render "next_routine_fields", f: next_routine %>
      <% end %>
    </div>
  
    <div class="action">
      <%= form.submit "確認画面へ", class: "confirm-btn" %>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>