<%= render "shared/header" %>

<div class="confirm-routine-wrap">
  <%= form_with model: @routine, url: download_routine_path(@routine.user.id), method: :post, class:"confirm-form-wrap" , local: true do |form|  %>
    <%# hiddenのinputでdownloadアクションにデータを送る %>
    <div class="hidden">
      <div class="routine-name-wrap">
        <div class="routine-form-text">
          <%= form.label :name, "ルーティン名" %>
        </div>
      <%= form.text_field :name, class: "routine-name-input" %>
      </div>

      <%= render "form", f: form %>
      <%= form.fields_for :next_routines do |next_routine| %>
        <%= render "form", f: next_routine %>
      <% end %>
    </div>
    <%# ここまで  %>
    <h1 class="routine-form-header">ルーティンの確認</h1>

    <div class="routine-name-wrap">
      <div class="routine-form-text">
        ルーティン名
      </div>
      <p class="routine-name"><%= @routine.name %></p>
      <p class="confirm-content author-name">作成者 : <%= @routine.user.nickname %></@>
    </div>

    <div class="confirm-routine">
      <div class="menu-header">
        <h2">1つ目のメニュー</h2>
      </div>
      <%= render "menu_field", routine: @routine %>
    </div>

    <% if @routine.next_routines.present? %>
      <% @routine.next_routines.each_with_index do |next_routine, i| %>
        <div class="confirm-routine">
          <div class="menu-header">
            <h2><%= i + 2 %>つ目のメニュー</h2>
          </div>
          <%= render "menu_field", routine: next_routine %>
        </div>
      <% end %>
    <% end %>

      <div class="action">
        <div>
          <%= form.submit "ダウンロード" %>
        </div>
        <div>
          <% if current_user.liked_by?(@routine.id) %>
            <%= link_to destroy_like_path(@routine.id), method: :delete do %>
              <i class="fas fa-heart unlike-btn"></i>
            <% end %>
            <%= @routine.likes.count %>
          <% else %>
            <%= link_to create_like_path(@routine.id), method: :post do %>
              <i class="fas fa-heart like-btn"></i>
            <% end %>
            <%= @routine.likes.count %>
          <% end %>
        </div>
      </div>

  <% end %>
</div>

<%= render "shared/footer" %>