<%= render "shared/header" %>

<div class="user-contents">
  <%= render "sid-bar" %>
  <div class="user-info-wrap">
    <div class="basic-info">
      <div class="user-info-header">基本情報</div>
      <ul>
        <li class="row">
          <div class="name">Nickname</div>
          <div class="property"><%= @user.nickname %></div>
        </li>
        <li class="row">
          <div class="name">Email</div>
          <div class="property"><%= @user.email %></div>
        </li>
      </ul>
    </div>
    <div class="profile">
      <div class="user-info-header">プロフィール</div>
      <ul>
        <li class="row">
          <div class="name">生年月日</div>
          <div class="property"><%= @birthday.year %>年 <%= @birthday.month %>月 <%= @birthday.day %>日</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<%# 選択中のサイドバーの背景色を変えるJS %>
<script>
  const sidBar = document.getElementById("user-info-bar");
  sidBar.setAttribute("style", "background-color: rgba(230, 230, 230, 0.5);");
</script>

<%= render "shared/footer" %>