<header class="first-header">
  <div><%= link_to image_tag("logo1.png", class: "header-logo"), root_path %></div>
  <%= link_to "#", class: "search header-link" do %>
    <div>みんなのルーティンを探す</div>
  <% end %>
  <%= link_to new_routine_path, class: "create-routine header-link" do %>
    <div>ルーティンを作成</div>
  <% end %>
  <div class="nav">
    <ul class="header-right">
        <li><%= link_to "ワークアウトを開始", user_routines_path(current_user.id), class: "start-workout header-link" %></li>
        <li class="user-hover user"><%= image_tag "user-logo.png", class: "user-logo header-link", width: "20" %></li>
    </ul>

    <ul class="show-user-list user hidden" id="user-list">
      <%= link_to user_path(current_user.id), class: "header-link move-to-mypage" do %>
        <li>マイページ<span class="arrow">></span></li>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: "header-link" do %>
        <li>ログアウト<span class="arrow">></span></li>
      <% end %>
    </ul>

  </div>
</header>